@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/*ВРЕМЕННО*/
.disable {
  display: none;
}

/*ШАПКА САЙТА*/

.site-header {
  display: flex;
  flex-direction: column;

  margin-bottom: 330px;
  outline: 2px solid blue;
}

.site-header__schedule {
  width: 167px;

  margin: 0;
  padding: 0;
  margin-left: auto;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.site-header__schedule span {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-wrapper {
  background-color: #849d8f;
}
.site-nav {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.site-nav__wrapper {
  display: flex;
  outline: 2px solid red;
}

.navigation,
.sub-menu {
  list-style: none;
}

.navigation__lnk {
  color: #ffffff;
}

.account__btn {
  border: 0;
  background-color: transparent;
}

.account__list {
  list-style: none;
}

.account__lnk {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.sub-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: black;
}

.sub-menu a {
  color: black;
}

/*находимся на странице*/
.sub-menu__lnk--active {
  background-color: #d07058;
}

.sub-menu__lnk--highlight {
  font-weight: 700;
}

.sub-menu a:hover,
.sub-menu a:focus {
  outline: 0;
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  width: 410px;
  height: 85px;
  outline: 2px solid green;
}

.navigation--user-navigation {
  width: 270px;
  margin-left: auto;
}

.navigation li {
  display: inline-block;
}

.navigation__lnk {
  display: block;
}

.navigation__lnk--user {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}



/*ОСНОВНОЙ КОНТЕНТ : ЭЛЕМЕНТЫ СЛАЙДЕРА*/

.slider {
  margin-bottom: 40px;
  outline: 2px solid pink;
}

.slide__title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.site-main__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/*ОСНОВНОЙ КОНТЕНТ : ФИЛЬТРЫ*/

.filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__btn {
  border: none;
  background-color: transparent;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК КОРЗИНА*/

.basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.basket__content {
  background-color: #ffffff;
}

.basket__price {
  opacity: 0.6;
}

.basket__del {
  border: 0;
  font-size: 0;
}

.basket__total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*ОСНОВНОЙ КОНТЕНТ : БЛОК СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ*/

.special-offer {
  display: flex;
  justify-content: space-between;

   margin-bottom: 40px;

  outline: 2px solid orange;
}

.special-offer__choice {
  height: 230px;
  width: 560px;

  padding: 20px;
  padding-top: 25px;
  outline: 2px solid blue;

}

.special-offer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer__descr {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК ТОВАРЫ*/

.goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 40px;

}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК МОРОЖЕНОЕ*/

.ice-cream {
  width: 270px;
  outline: 2px solid orange;
}

 .ice-cream__price {
   font-size: 30px;
   line-height: 30px;
   font-weight: 700;
 }

 .ice-cream__descr {
   margin: 0;
   padding: 0;
   text-decoration: underline;
 }

 /*ОСНОВНОЙ КОНТЕНТ : БЛОК ПРЕИМУЩЕСТВА*/

 .advantages {
  background-color: #ebdec0;
  background-image: url("../img/layer_1.png");
  background-position: 0 0;
  background-repeat: repeat;
  color: #323232;
 }

 .advantages__lead {
   margin: 0;
   padding: 0;
   font-size: 24px;
   line-height: 30px;
   font-weight: 500;
 }

 .advantages__list {
   list-style: none;
 }

 /*ОСНОВНОЙ КОНТЕНТ : ПАГИНАЦИЯ*/

 .pagination {
   font-size: 16px;
   line-height: 18px;
   font-weight: 500;
   color: #ffffff;
 }

 .pagination a {
   font: inherit;
   color: inherit;
 }

 .pagination__list {
   margin: 0;
   padding: 0;
   list-style: none;
 }



 /*ОСНОВНОЙ КОНТЕНТ : БЛОК ЛЕНТА НОВОСТЕЙ*/

 .feed {
   color: #323232;
   background-color: #ffffff;
 }

 .feed__new {
   margin: 0;
   padding: 0;
 }

 .feed__descr {
   margin: 0;
   padding: 0;
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   text-decoration: underline;
 }

 .subscription {
   color: #323232;
   background-color: #ffffff;
 }

 .subscription__input {
   font: inherit;

  background-color: transparent;
  border: 2px solid #d3d3d2;
 }

 .subscription__input:hover {
  border: 2px solid #c7c6c5;
 }

 .subscription__input:active,
 .subscription__input:focus  {
    outline: none;
    border: 2px solid #8fbdec;
  }

  .subscription__btn {
    border: 0;
    background-color: transparent;

  }

  /*ОСНОВНОЙ КОНТЕНТ : БЛОК КОНТАКТНЫЙ АДРЕСС*/

  .contacts__inner {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #ffffff;
    color: #323232;
  }

  .contacts__descr {
    margin: 0;
    padding: 0;
  }

  .contacts__descr span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  /*ПОДВАЛ САЙТА*/
  .site-footer {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  .site-footer__descr a {
    text-decoration: underline;
    color: #ffffff;
  }

  .social__list,
  .specification__list {
    list-style: none;
  }


  .specification__lnk {
    color: #ffffff;
  }

  .specification__lnk--bold {
    font-weight: 700;
  }

  /* POPUP */

  .popup__list {
    list-style: none;
  }

  .popup__btn {
    border: 0;
    background-color: transparent;
  }

  /*ВСПОМОГАТЕЛЬНЫЙ ЭЛЕМЕНТ */
  .btn-slide {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
  }

  .btn-slide--lg {
    font-size: 32px;
    line-height: 44px;
  }

  .btn-filter {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
  }

  .content-wrapper {
    width: 1150px;
    margin: 0 auto;
  }
