@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-color: #849d8f;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/*ВРЕМЕННО*/
.disable {
  display: none;
}

/*ШАПКА САЙТА*/
.site-nav {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.navigation,
.sub-menu {
  list-style: none;
}

.navigation__lnk {
  color: #ffffff;
}

.sub-menu {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: black;
}

.sub-menu a {
  color: black;
}

/*находимся на странице*/
.sub-menu__lnk--active {
  background-color: #d07058;
}

.sub-menu__lnk--highlight {
  font-weight: 700;
}

.sub-menu a:hover,
.sub-menu a:focus {
  outline: 0;
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.navigation__lnk--user {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.navigation__lnk--search {
  font-size: 0;
}

.site-header__schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.site-header__schedule span {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*ОСНОВНОЙ КОНТЕНТ : ЭЛЕМЕНТЫ СЛАЙДЕРА*/

.slide__title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.btn-slide {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.btn-slide--md {
  font-size: 18px;
  line-height: 24px;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ*/

.special-offer__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer__descr {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК МОРОЖЕНОЕ*/
 .ice-cream__price {
   font-size: 30px;
   line-height: 30px;
   font-weight: 700;
 }

 /*ОСНОВНОЙ КОНТЕНТ : БЛОК ПРЕИМУЩЕСТВА*/

 .advantages {
  background-color: #ebdec0;
  background-image: url("../img/layer_1.png");
  background-position: 0 0;
  background-repeat: repeat;
  color: #323232;
 }

 .advantages__lead {
   margin: 0;
   padding: 0;
   font-size: 24px;
   line-height: 30px;
   font-weight: 500;
 }

 .advantages__list {
   list-style: none;
 }
