@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.disable {
  display: none;
}


/*ШАПКА САЙТА*/

.site-header {
  display: flex;
  flex-direction: column;

  margin-bottom: 270px;
  outline: 2px solid blue;
}

.site-header__site-logo {
  display: block;

  height: 75px;
  box-sizing: border-box;
  padding-top: 10px;
}

.site-header--inner {
  margin-bottom: 0;
}

.site-header__schedule {
  width: 167px;

  margin: 0;
  padding: 0;
  margin-left: auto;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.site-header__schedule span {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-wrapper {
  background-color: #849d8f;
}
.site-nav {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.site-nav__wrapper {
  display: flex;
  outline: 2px solid red;
}

.navigation,
.sub-menu {
  list-style: none;
}

.navigation__lnk {
  display: block;
  padding: 8px 14px;
  color: #ffffff;
}

.navigation__lnk:hover {
  background-color: #ffffff;
  border-radius: 15px;
  color: #323232;
}

.navigation {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  width: 380px;
  outline: 2px solid green;
}

.navigation--user-navigation {
  width: 260px;
  margin-left: auto;
}

.navigation li {
  display: inline-block;
}

.navigation__lnk {
  display: block;
}

.navigation__lnk--user {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.account {
  position: absolute;
  left: -70px;
  top: 70px;
}

.account__btn {
  border: 0;
  background-color: transparent;
}

.account__list {
  list-style: none;
}

.account__lnk {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.sub-menu {
  position: absolute;
  top: 65px;

  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: black;
}

.sub-menu a {
  display: block;
  padding: 10px;
  color: black;
}

.sub-menu li {
  display: block;
}

/*находимся на странице*/
.sub-menu__lnk--active {
  background-color: #d07058;
}

.sub-menu__lnk--highlight {
  font-weight: 700;
}

.sub-menu a:hover,
.sub-menu a:focus {
  outline: 0;
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}



/*ОСНОВНОЙ КОНТЕНТ : ЭЛЕМЕНТЫ СЛАЙДЕРА*/

.slider {
  margin-bottom: 40px;
  outline: 2px solid pink;
}

.slide {
  position: relative;
}
.slide__title {
  width: 670px;

  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;


  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.site-main__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.site-main__pagination {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-main__breadcrumbs {
  margin-top: -15px;
}

/*ОСНОВНОЙ КОНТЕНТ : ФИЛЬТРЫ*/

.filter {
  width: 855px;

  margin-bottom: 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}


.filter__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter__fieldset {
  border: none;
  margin-bottom: 20px;
  padding: 0;

  min-height: 55px; /*временно*/
  outline: 2px solid green;
}

.filter__fieldset--sort {
 width: 195px;
}

.filter__fieldset--price {
  width: 220px;
}

.filter__fieldset--fatness {
  width: 410px;
}

.filter__legend {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__item {
  display: inline-block;
}

.filter__btn {
  border: none;
  background-color: transparent;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК КОРЗИНА*/

.basket {
  /*font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  */
}
.basket__content {
  background-color: #ffffff;
}

.basket__price {
  opacity: 0.6;
}

.basket__del {
  border: 0;
  font-size: 0;
}

.basket__total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a {
  display: block;
  color: inherit;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
}


/*ОСНОВНОЙ КОНТЕНТ : БЛОК СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ*/

.special-offer {
  display: flex;
  justify-content: space-between;

   margin-bottom: 40px;

  outline: 2px solid orange;
}

.special-offer__choice {
  height: 230px;
  width: 560px;

  box-sizing: border-box;
  padding: 20px;
  padding-top: 15px;

  border-radius: 15px;
  border: 1px solid red;
}

.special-offer__choice--raspberry {
  background-image: url('../img/raspberries.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.special-offer__choice--chocolate {
  background-image: url('../img/chocolate.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.special-offer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer__descr {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}


/*ОСНОВНОЙ КОНТЕНТ : БЛОК ТОВАРЫ*/

.goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goods__item {
  margin-bottom: 40px;
}

/*ОСНОВНОЙ КОНТЕНТ : БЛОК МОРОЖЕНОЕ*/

.ice-cream {
  position: relative;
  width: 270px;
  outline: 2px solid orange;
}

/*обертка для карточки товара*/
.ice-cream::before {
  content: "";
  position: absolute;
  display: none;
  left: -15px;
  top: -15px;
  width: 300px;
  height: 405px;
  background-color: rgba(255,255,255,0.2);
  outline: 3px solid green;
}

 .ice-cream__price {
   margin: 0;
   padding: 0;

   font-size: 30px;
   line-height: 30px;
   font-weight: 700;
 }

 .ice-cream__descr {
   margin: 0;
   padding: 0;
   text-decoration: underline;
 }

 /*ОСНОВНОЙ КОНТЕНТ : БЛОК ПРЕИМУЩЕСТВА*/

 .advantages {
  padding-top: 30px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #ebdec0;
  background-image: url("../img/layer_1.png");
  background-position: 0 0;
  background-repeat: repeat;
  color: #323232;
 }

 .advantages__lead {
   margin: 0;
   padding: 0;
   margin-bottom: 15px;

   font-size: 24px;
   line-height: 30px;
   font-weight: 500;
 }

 .advantages__list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style: none;
 }

 .advantages__descr {
   padding: 0;
   margin: 0;
 }

 .advantages__item {
   width: 500px;

   margin-bottom: 15px;
   padding-left: 40px;
   outline: 2px solid green;
 }

 /*ОСНОВНОЙ КОНТЕНТ : ПАГИНАЦИЯ*/

 .pagination {
   width: 200px;

   font-size: 16px;
   line-height: 18px;
   font-weight: 500;
   color: #ffffff;

   outline: 2px solid orange;
 }

 .pagination a {
   font: inherit;
   color: inherit;
 }

 .pagination__list {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .pagination__item {
   display: inline-block;
 }

 .content-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin-bottom: 40px;
 }



 /*ОСНОВНОЙ КОНТЕНТ : БЛОК ЛЕНТА НОВОСТЕЙ*/

 .feed {
  width: 560px;
  min-height: 220px;

  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;

  color: #323232;
  background-color: #ffffff;
  outline: 2px solid orange;
 }

 .feed__new {
   margin: 0;
   padding: 0;
 }

 .feed__descr {
   margin: 0;
   padding: 0;
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   text-decoration: underline;
 }

 .subscription {
   width: 560px;
   min-height: 220px;

   padding: 30px;
   padding-top: 40px;
   box-sizing: border-box;

   color: #323232;
   background-color: #ffffff;
   outline: 2px solid orange;
 }

 .subscription p {
   margin: 0;
   padding: 0;
 }

 .subscription__form {
   margin-top: 45px;
 }

 .subscription__input {
   font: inherit;

  background-color: transparent;
  border: 2px solid #d3d3d2;
 }

 .subscription__input:hover {
  border: 2px solid #c7c6c5;
 }

 .subscription__input:active,
 .subscription__input:focus  {
    outline: none;
    border: 2px solid #8fbdec;
  }

  .subscription__btn {
    border: 0;
    background-color: transparent;

  }

  /*ОСНОВНОЙ КОНТЕНТ : БЛОК КОНТАКТНЫЙ АДРЕСС*/

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    min-height: 430px;
    width: auto;
    background: thistle;
  }

  .contacts__inner {
    width: 305px;
    min-height: 305px;

    margin-left: auto;
    padding: 20px;
    padding-top: 25px;

    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #ffffff;
    color: #323232;
  }

  .contacts__descr {
    width: 220px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  .contacts__descr span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  /*ПОДВАЛ САЙТА*/
  .site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 105px;


    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    outline: 2px solid blue;
  }

  .site-footer__descr {
    margin: 0;
    padding: 0;
  }

  .site-footer__descr a {
    text-decoration: underline;
    color: #ffffff;
  }


  .social__item {
    display: inline-block;
  }

  .social__lnk {
    display: block;
    width: 40px;
    height: 40px;
    outline: 2px solid green;

    font-size: 0;
  }

  .social__list,
  .specification__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .specification__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    padding-left: 30px;

    outline: 2px solid orange;
  }


  .specification__lnk {
    display: block;
    width: 170px;
    color: #ffffff;
  }

  .specification__lnk--bold {
    font-weight: 700;
  }

  /* POPUP */

  .popup__list {
    list-style: none;
  }

  .popup__btn {
    border: 0;
    background-color: transparent;
  }

  /*ВСПОМОГАТЕЛЬНЫЙ ЭЛЕМЕНТ */
  .btn-slide {
    display: inline-block;

    padding: 10px 23px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    vertical-align: middle;

    border-radius: 25px;
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  }

  .btn-slide--lg {
    padding: 10px 40px;

    font-size: 32px;
    line-height: 44px;
    border-radius: 100px;
  }

  .btn-slide--disable {
    display: none;
  }

  .btn-filter {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
  }

  .btn-custom {
    display: inline-block;
    position: relative;

    min-height: 33px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 45px;

    vertical-align: middle;
    box-sizing: border-box;
    font-family:inherit;
    font-size: 14px;
    line-height: 16px;
    color: inherit;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
  }

  .btn-custom--search {
    width: 33px;
    padding: 0;

    font-size: 0;
    border-radius: 50%;
  }

  .btn-custom--search::before {
    content: '';
    display: block;
    position: absolute;

    top:7px;
    left: 7px;

    width: 25px;
    height: 25px;

    background-image: url('../img/lens.svg');
    background-repeat: no-repeat;
  }

  .btn-custom--user::before {
    content: '';
    display: block;
    position: absolute;

    top:7px;
    left: 15px;

    width: 25px;
    height: 25px;

    background-image: url('../img/exit.svg');
    background-repeat: no-repeat;
  }

  .btn-custom--basket {
    padding-left: 45px;
    padding-right: 35px;
  }

  .btn-custom--basket::before {
    content: '';
    display: block;
    position: absolute;

    top:7px;
    left: 15px;

    width: 25px;
    height: 25px;

    background-image: url('../img/basket.svg');
    background-repeat: no-repeat;
  }

  .content-wrapper {
    width: 1150px;
    margin: 0 auto;
  }
